@import "~bootstrap/dist/css/bootstrap.css";

* {
  font-family: 'lato', 'arial', sans-serif;
}
html, body { height: 100%;}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none; 
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

button {
  outline: none;
  border: none;
}

button:hover {
  outline: none;
  border: none;
}