@import "~bootstrap/dist/css/bootstrap.css";
@import 'ol-street-view/lib/style/css/ol-street-view.css';

input {
  color: #4285f4;
  user-select: none;
  font-weight: bold;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

.thirty {
  width: 80%;
  border-radius: 65px;
}

.btn {
  width: 80%;
  outline: none;
  border: none;
  outline: none !important;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

#map {
  cursor: default;
  height: 1000px;
  outline: none;
  width: 68%;
  border-radius: 1%;
  border: none;
}

#map:active {
  cursor: move !important;
}

.wrap {
  width: 100%;
  overflow: auto;
}

.fleft {
  float: left;
  width: 30%;
  height: 100%;
}

.fright {
  margin-top: 20px;
  margin-right: 10px;
  float: right;
  width: 70%;
  height: 100%;
}

.mat-row:hover {
  font-weight: bold;
  font-size: 50px;
}

table {
  width: 100%;
  overflow: auto;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
}

.table-container {
  margin-top: 10px;
  max-height: 300px;
  overflow: auto;
}

#map:last-child:after {
  content: "";
  position: absolute;
  outline: none;
  border: none;
  -moz-box-shadow: inset 0 0 5px #000000;
  -webkit-box-shadow: inset 0 0 5px #000000;
  box-shadow: inset 0 0 5px #000000;
  width: 100%;
  height: 100%;
  display: block;
  pointer-events: none;
}