<div class="map-container" #mapWrapper>
  <div class="map-panel" [style.width.%]="leftWidth()">
    <div id="leafletMap" class="map-canvas"></div>

    <button
      type="button"
      class="recenter-btn"
      matTooltip="Recenter on marker"
      matTooltipPosition="above"
      (click)="recenterView()"
    >
      <mat-icon>my_location</mat-icon>
    </button>

    @if (isDragging()) {
      <div class="drag-overlay"></div>
    }

    <div class="map-info">
      <div class="info-pill">
        <span class="coords">{{ currentCoords() }}</span>
      </div>
    </div>
  </div>

  <div class="resizer" matTooltip="Double click to reset" matTooltipPosition="above" (mousedown)="onMouseDown($event)" (dblclick)="resetSplit()"></div>

  <div class="map-panel" [style.width.%]="100 - leftWidth()">
    <div id="streetView" class="map-canvas"></div>

    @if (isDragging()) {
      <div class="drag-overlay"></div>
    }

    <div class="map-info right">
    </div>
  </div>
</div>