@import "~bootstrap/dist/css/bootstrap.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

* {
  font-family: 'lato', 'arial', sans-serif;
}

html {
  scroll-behavior: smooth !important;
  overflow-y: hidden !important;
}

input {
  color:#4285F4;
  user-select:none;
  font-weight: bold;
}

#latitude {
  outline: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}


.thirty {
   width: 20%;
  border-radius: 65px;
}

.form-control {
  width: 20%;
  border-radius: 5px;
}

.btn { 
  width: 20%; 
  outline: none;
  border: none;
  outline: none !important;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

#map {
  cursor: default;
  width: 1430px;
  float: right;
  margin-top: -960px;
  margin-right: 30px;
  height: 1000px;  
  outline: none;
  border-radius: 15px;
}

#map:active {
    cursor: move !important;
}


.leaflet-touch .leaflet-bar a {
  border-radius: 20px;
}

.blink_me {
  animation: blinker 1.55s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.mat-input-underline {

    background-color: #FF0000;    /* replace this color with your accent color hex code */
}