<br /><br /><br /><br /><br />

<h1 class="text-center">ADMIN DASHBOARD</h1>
<p class="text-center">
  {{ whatuser.user.name }} {{ whatuser.user.surname }} is logged in
</p>

<br /><br />

<div class="d-flex justify-content-center">
  <mat-form-field class="text-center" appearance="outline" style="width: 50%;">
    <mat-label>Filter data in table</mat-label>
    <input
      autocomplete="off"
      class="text-center"
      matInput
      (keyup)="applyFilter($event)"
      #tooltip="matTooltip"
      minlength="1"
      maxlength="40"
      matTooltip="Filter data in table"
      [matTooltipPosition]="'above'"
      placeholder="Ex. Krishna"
      #input
    />
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</div>

<br /><br />
<div class="table-container mat-elevation-z8">
  <table
    mat-table
    matSort
    class=" justify-content-center"
    [dataSource]="dataSource"
    *ngIf="dataSource.data.length > 0"
  >
    <!-- Name column  -->
    <ng-container matColumnDef="name">
      <th
        #tooltip="matTooltip"
        matTooltip="Name Column"
        [matTooltipPosition]="'above'"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
      >
        Name
      </th>
      <td mat-cell *matCellDef="let row">{{ row.name }}</td>
    </ng-container>

    <!-- Surname column  -->
    <ng-container matColumnDef="surname">
      <th
        #tooltip="matTooltip"
        matTooltip="Surname Column"
        [matTooltipPosition]="'above'"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
      >
        Surname
      </th>
      <td mat-cell *matCellDef="let row">{{ row.surname }}</td>
    </ng-container>

    <!-- Email column  -->
    <ng-container matColumnDef="email">
      <th
        #tooltip="matTooltip"
        matTooltip="Email Column"
        [matTooltipPosition]="'above'"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
      >
        Email
      </th>
      <td mat-cell *matCellDef="let row">
        <button
          #tooltip="matTooltip"
          matTooltip="Click to send email"
          [matTooltipPosition]="'right'"
          style="background: transparent"
          (click)="send(row.email)"
        >
          {{ row.email }}
        </button>
      </td>
    </ng-container>

    <!-- User Status column  -->
    <ng-container matColumnDef="userStatus">
      <th
        #tooltip="matTooltip"
        matTooltip="Status Column"
        [matTooltipPosition]="'above'"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
      >
        Status
      </th>
      <td mat-cell *matCellDef="let row">{{ row.userStatus.toLowerCase() }}</td>
    </ng-container>

    <!-- Application Role column  -->
    <ng-container matColumnDef="applicationRole">
      <th
        #tooltip="matTooltip"
        matTooltip="Role Column"
        [matTooltipPosition]="'above'"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
      >
        Role
      </th>
      <td mat-cell *matCellDef="let row">
        {{ row.applicationRole.toLowerCase() }}
      </td>
    </ng-container>

    <!-- Delete Button column  -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td
        #tooltip="matTooltip"
        matTooltip="Remove User"
        [matTooltipPosition]="'below'"
        mat-cell
        *matCellDef="let row"
      >
        <button style="background: transparent" (click)="deleteRow(row)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Edit Button column  -->
    <ng-container matColumnDef="actions2">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td
        #tooltip="matTooltip"
        matTooltip="Edit User"
        [matTooltipPosition]="'below'"
        mat-cell
        *matCellDef="let row"
      >
        <button style="background: transparent" (click)="openDialog(row)">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4" *ngIf="input.value.length > 0">
        No data matching the filter "{{ input.value }}"
      </td>
    </tr>
  </table>

  <div class="text-center" *ngIf="dataSource.data.length === 0">
    <h3>
      The table data could not be loaded. 😪<br /><br />
      Try starting the backend application please.
    </h3>
  </div>

  <mat-paginator
    *ngIf="dataSource.data.length > 0"
    class="d-flex justify-content-center"
    #tooltip="matTooltip"
    matTooltip="PageTable Options"
    [matTooltipPosition]="'below'"
    showFirstLastButtons
    [pageSizeOptions]="[5, 10, 25, 50, 100]"
  ></mat-paginator>
</div>

<br /><br /><br /><br /><br /><br />
<div class="d-flex justify-content-center" style="margin-top: 100px;">
  <button
    #tooltip="matTooltip"
    matTooltip="Add User"
    [matTooltipPosition]="'left'"
    mat-raised-button
    style="height:40px;width: 60px;border-radius: 50px;"
    color="primary"
    routerLink="/adduser"
  >
    <mat-icon>person_add</mat-icon>
  </button>
  <button
    #tooltip="matTooltip"
    matTooltip="Home"
    [matTooltipPosition]="'below'"
    mat-raised-button
    style="height:40px;width: 60px;border-radius: 50px; margin-left:20px;"
    color="primary"
    routerLink="/"
  >
    <mat-icon>home</mat-icon>
  </button>
  <button
    #tooltip="matTooltip"
    matTooltip="StreetView Map"
    [matTooltipPosition]="'below'"
    mat-raised-button
    style="margin-left: 20px;height:40px;width: 60px;border-radius: 50px;"
    color="primary"
    routerLink="/streetview"
  >
    <mat-icon>streetview</mat-icon>
  </button>
  <button
    #tooltip="matTooltip"
    matTooltip="Logout"
    [matTooltipPosition]="'right'"
    mat-raised-button
    style="height:40px;width: 60px;border-radius: 50px; margin-left:20px;"
    color="accent"
    routerLink="/logout"
  >
    <mat-icon>exit_to_app</mat-icon>
  </button>
</div>
