.table-container {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
}

.mat-row:hover {
  border: 1px solid #000;
  font-weight: bold;
  font-size: 50px;
}

.example-spacer {
  flex: 1 1 auto;
}