<div class="card my-5" style="border: none">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #userForm="ngForm">
      <div class="form-group text-center">
        <h1 class="animate__animated animate__bounceInDown">
          Register a new user here
        </h1>
        <mat-icon class="animate__animated animate__bounceInDown">expand_more</mat-icon>
        <br /><br /><br /><br />
        <mat-form-field
          appearance="outline"
          style="width: 80%; outline: none; text-align: center"
          #tooltip="matTooltip"
          matTooltip="Name"
          [matTooltipPosition]="'above'">
          <mat-label>Name</mat-label>
          <input
            type="text"
            pattern="[a-zA-Z]*"
            title="Name"
            [(ngModel)]="user.name"
            id="name"
            name="name"
            placeholder="Enter your name"
            minlength="1"
            required
            #name="ngModel"
            matInput
            maxlength="18"
            />
          <mat-icon matSuffix>badge</mat-icon>
          <mat-error *ngIf="user.name || !user.name">Cannot be empty or contain numbers or
            symbols</mat-error>
        </mat-form-field>
      </div>
      <br /><br />
      <div
        class="form-group text-center"
        #tooltip="matTooltip"
        matTooltip="Surname"
        [matTooltipPosition]="'above'">
        <mat-form-field
          appearance="outline"
          style="width: 80%; outline: none; text-align: center">
          <mat-label>Surname</mat-label>
          <input
            type="text"
            pattern="[a-zA-Z]*"
            title="Surname"
            [(ngModel)]="user.surname"
            id="surname"
            name="surname"
            placeholder="Enter your surname"
            minlength="1"
            required
            #surname="ngModel"
            matInput
            maxlength="18"
            />
          <mat-icon matSuffix>person</mat-icon>
          <mat-error *ngIf="user.surname || !user.surname">Cannot be empty or contain
            numbers or symbols</mat-error>
        </mat-form-field>
      </div>
      <br /><br />
      <div
        class="form-group text-center"
        #tooltip="matTooltip"
        matTooltip="Email"
        [matTooltipPosition]="'above'">
        <mat-form-field
          appearance="outline"
          style="width: 80%; outline: none; text-align: center">
          <mat-label>Email</mat-label>
          <input
            (focusout)="onFocusOutEvent()"
            (blur)="onFocusOutEvent()"
            (ngModelChange)="onFocusOutEvent()"
            email="true"
            type="email"
            autocomplete="off"
            title="Email"
            [(ngModel)]="user.email"
            id="email"
            name="email"
            placeholder="Enter your email"
            required
            #email="ngModel"
            matInput
            minlength="3"
            maxlength="100"
            />
          <mat-icon matSuffix>email</mat-icon>
          <mat-error *ngIf="user.email || !user.email">Wrong email grammar</mat-error>
        </mat-form-field>
                  <div ng-show="emailStatus" [hidden]="emailStatus==false" style="color:
            red; margin-top: -8px; font-size: smaller;">Email already exists!</div>
      </div>
      <br /><br />
      <div
        class="form-group text-center"
        #tooltip="matTooltip"
        matTooltip="Password"
        [matTooltipPosition]="'above'">
        <mat-form-field
          appearance="outline"
          style="width: 80%; outline: none; text-align: center">
          <mat-label>Password</mat-label>
          <input
            type="password"
            autocomplete="on"
            title="Password"
            [(ngModel)]="user.password"
            autocomplete="off"
            id="password"
            name="password"
            placeholder="Enter your password"
            required
            #password="ngModel"
            matInput
            matRipple
            minlength="8"
            maxlength="32"
            />
          <mat-icon matSuffix>lock</mat-icon>
          <mat-error *ngIf="user.password || !user.password">Password too short</mat-error>
        </mat-form-field>
        <br />
      </div>
      <br /><br /><br />
      <div class="form-group text-center animate__animated animate__bounceInUp">
        <button
          type="submit"
          [disabled]="!userForm.form.valid"
          #tooltip="matTooltip"
          matTooltip="Sign Up"
          [matTooltipPosition]="'above'"
          mat-raised-button
          style="
          height: 40px;
          width: 260px;
          border-radius: 50px;
          margin-left: 20px;
          "
          color="primary">
          <mat-icon>app_registration</mat-icon>
        </button>
        <br /><br /><br /><br /><br /><br /><br /><br />

        <div class="d-flex justify-content-center">
          <button
            #tooltip="matTooltip"
            matTooltip="Admin Dashboard"
            [matTooltipPosition]="'left'"
            mat-raised-button
            style="height: 40px; width: 60px; border-radius: 50px"
            color="primary"
            routerLink="/listuser">
            <mat-icon>admin_panel_settings</mat-icon>
          </button>
          <button
            #tooltip="matTooltip"
            matTooltip="StreetView"
            [matTooltipPosition]="'below'"
            mat-raised-button
            style="
            height: 40px;
            width: 60px;
            margin-left: 20px;
            border-radius: 50px;
            "
            color="primary"
            routerLink="/streetview">
            <mat-icon>streetview</mat-icon>
          </button>
          <button
            #tooltip="matTooltip"
            matTooltip="Home"
            [matTooltipPosition]="'below'"
            mat-raised-button
            style="
            height: 40px;
            width: 60px;
            border-radius: 50px;
            margin-left: 20px;
            "
            color="primary"
            routerLink="/">
            <mat-icon>home</mat-icon>
          </button>
          <button
            #tooltip="matTooltip"
            matTooltip="Logout"
            [matTooltipPosition]="'right'"
            mat-raised-button
            style="
            height: 40px;
            width: 60px;
            border-radius: 50px;
            margin-left: 20px;
            "
            color="accent"
            routerLink="/logout">
            <mat-icon>exit_to_app</mat-icon>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
